/* ?Archivo de CSS del último trabajo del módulo 4 denominado Proyecto 1 */
/* Declaración de variables */
/* Vamos a importar una fuente desde google fonts para aplicar a toda la página. También descargaremos otra fuente tipográfica para usar desde la carpeta de assets y aplicarla al precio de los artículos*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
:root {
  --borders: 1px black solid;
  --descriptionSize: 10px;
}
@font-face {
  font-family: 'fontPrice';
  src: url(./assets/fonts/roboto/static/Roboto-Bold.ttf);
}
body {
  /* margin-bottom: 8%; */
  display: flex;
  flex-direction: column;
  margin: 0px;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Google Sans', sans-serif;
}
/* offers es la sección primera con 3 carátulas de ofertas especiales */
main {
  /* margin-top: 100px; */
  margin-top: 10%;
  /* position: absolute; */
}
.offers {
  display: flex;
  gap: 1%;
}
.offers > article > a > img {
  max-width: 100%;
}
/* maquetamos el header */
header {
  position: fixed;
  height: 70px;
  /* border: 8px yellow solid; */
  background-color: white;
  display: flex;
  gap: 2%;
  width: 100%;
  /* max-width: 100%; */

  /* justify-content: space-evenly; */
  border-bottom: 1px solid black;
}
header > img {
  /* position: fixed; */
  /* margin-left: 10px; */
  margin: 10px;
  opacity: 1;
}
/* Maquetamos el menú de navegación superior */
.top {
  /* border: 5px black solid; */
  /* background-color: white; */
  display: flex;
  justify-content: space-around;

  /* position: fixed; */
  opacity: 1;
  width: 100%;
  /* max-width: 100%; */
}
.ulmenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}

/* Maquetamos la parte de: Todas las categorías */
.labelmenu {
  display: flex;
  /* position: fixed; */
  width: 25%;
  align-items: center;
  cursor: pointer;
}
.labelmenu > img {
  height: 30px;
}
/* Maquetamos la parte:"Todo el catálogo" */
.catalogo {
  display: flex;

  width: 30%;
  border: var(--borders);
}
.catalogo a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
}
.catalogo img {
  max-width: 30px;
}
/* Maquetamos la parte de: Buscador IA */
.buscadorIA {
  margin-left: 1%;
  display: flex;
  align-items: center;
  width: 25%;
  border: var(--borders);
  align-items: center;
}
.buscadorIA a {
  display: flex;
  width: 100%;
}
.buscadorIA img {
  margin: auto;
  /* border: 2px solid red; */
  width: 20%;
}
.buscadorIA p {
  width: 100%;
  margin-left: 2%;
  /* border: 1px solid red; */
}
/* Maquetamos la parte de: mi cuenta */
.user {
  display: flex;
}
.user a {
  width: 100%;
}

/* Maquetamos la parte de micarrito */
.micesta {
  display: flex;
}
.micesta img {
  height: 40px;
}
.user a {
  display: flex;
  align-items: center;
}
.user img {
  max-width: 40px;
}
/* maquetamos el listado de 12 artículos mostrados a al venta */
.articles > ol {
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.price {
  color: crimson;
  font-family: 'fontPrice';
  font-size: 25px;
}
span {
  color: grey;
  text-decoration: line-through;
  font-size: 18px;
}
/* Hasta aquí todo correcto */
/* *********************************** */
/* Maquetamos el menú lateral que aparece y desaparece al clicar en: "▤todas las categorías" */
.sidemenu {
  display: flex;
  background-color: aliceblue;
  height: 100vh;
  width: 350px;
  /* margin-top: 100px; */
  transition: all 1s ease;
  transform: translateX(-100%);
  position: fixed;
  list-style-type: none;
}
/* Maquetamos la X que cierra el menú lateral */
.sidemenunav img {
  border: 1px solid black;
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.sidemenunav > .list {
  list-style-type: none;
}
.sidemenunav > .list > li {
  margin: 10px;
}
.specialoffers {
  font-size: 1.35em;
  color: orangered;
  font-weight: bold;
}
#categorymenu:checked ~ .sidemenu {
  transition: all 1s ease;
  transform: translateX(0%);
}
input {
  display: none;
}
