/* ?Archivo de CSS del último trabajo del módulo 4 denominado Proyecto 1 */
/* Declaración de variables */
/* Vamos a importar una fuente desde google fonts para aplicar a toda la página. También descargaremos otra fuente tipográfica para usar desde la carpeta de assets y aplicarla al precio de los artículos*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
:root {
  --borders: 1px black solid;
  --descriptionSize: 10px;
}
@font-face {
  font-family: 'fontPrice';
  src: url(./assets/fonts/roboto/static/Roboto-Bold.ttf);
}
body {
  margin-bottom: 8%;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Google Sans', sans-serif;
}
/* offers es la sección primera con 3 carátulas de ofertas especiales */
.offers {
  display: flex;
  gap: 1%;
}
.offers > article > a > img {
  max-width: 100%;
}
/* maquetamos el header */
header {
  border: 8px yellow solid;
  display: flex;
  gap: 2%;
  max-width: 100%;
  height: 80px;
  justify-content: space-evenly;
  max-width: 100%;
}
/* Maquetamos el menú de navegación superior */
.top {
  /* border: 5px black solid; */
  display: flex;
  width: 100%;
  max-width: 100%;
}
.labelmenu {
  display: flex;
  width: 30%;
  align-items: center;
  cursor: pointer;
}
.labelmenu > img {
  height: 30px;
}

.catalogo {
  display: flex;
  justify-content: end;
  align-items: center;
  border: var(--borders);
}
.catalogo a {
  width: 100%;
  margin-left: 3px;
}
.catalogo img {
  max-width: 30px;
}
.buscadorIA {
  display: flex;
  align-items: center;
  width: 20%;
  border: var(--borders);
}
.user a {
  display: flex;
  align-items: center;
}
.user img {
  max-width: 40px;
}

.articles > ol {
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.price {
  color: crimson;
  font-family: 'fontPrice';
  font-size: 25px;
}
span {
  color: grey;
  text-decoration: line-through;
  font-size: 18px;
}
/* Hasta aquí todo correcto */
/* *********************************** */
/* Maquetamos el menú lateral que aparece y desaparece al clicar en todas las categorías */
.sidemenu {
  background-color: aliceblue;
  height: 100vh;
  width: 300px;
  /* visibility: hidden; */
  transition: all 1s ease;
  transform: translateX(-100%);
  position: fixed;
}
.sidemenunav img {
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
}
.specialoffers {
  font-size: 1.35em;
  color: orangered;
  font-weight: bold;
}
#categorymenu:checked ~ .sidemenu {
  transition: all 1s ease;
  transform: translateX(0%);
}
